---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro'
import { getCollection } from 'astro:content';
const allPosts = await getCollection('posts');
const pageTitle = "Blog"
const post = {
  firstName: "Brad",
  country: "USA",
  occupation: "Gangster",
  hobbies: ["making paper", "shit posting", "gardening"],
};
---
<BaseLayout pageTitle={pageTitle}>
  <h2>I'll add blog posts about the meaning of life</h2>
  <p>Get ready for some shitty content, folks</p>
  <ul>
    {allPosts.map((post) => <BlogPost url={`/posts/${post.slug}/`} title={post.data.title} />)}
  </ul>
</BaseLayout>